# Lista 04 - Análise Exploratória de Dados
        
> Yanna Torres Gonçalves
>
> Mestrado em Ciências da Computação
>
> Matrícula: 587299

In [1]:
!pip install nltk

Requirement already satisfied: nltk in /opt/conda/lib/python3.11/site-packages (3.9.1)
Requirement already satisfied: click in /opt/conda/lib/python3.11/site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.11/site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.11/site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.11/site-packages (from nltk) (4.66.1)

In [2]:
import pandas as pd
import numpy as np
import re

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to /home/jovyan/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

## a) Ler o dataset fakeTelegram.BR_2022.csv

Utilizamos o mesmo dataset da lista 01, acessando pelo mesmo link.

[https://github.com/yanna-torres/CKP9011-ciencia-de-dados/blob/lista-01/data/fakeTelegram.BR_2022.csv](https://github.com/yanna-torres/CKP9011-ciencia-de-dados/blob/lista-01/data/fakeTelegram.BR_2022.csv)

In [3]:
data_url = "https://media.githubusercontent.com/media/yanna-torres/CKP9011-ciencia-de-dados/refs/heads/lista-01/data/fakeTelegram.BR_2022.csv"

df = pd.read_csv(data_url)

In [4]:
df.describe()

       dataset_info_id  score_sentiment  score_misinformation    id_message
count         557586.0    444157.000000         167238.000000  5.575860e+05
mean               5.0         0.017330              0.312245  4.450617e+05
std                0.0         0.464165              0.293699  4.860211e+05
min                5.0        -1.000000              0.000003  2.000000e+00
25%                5.0        -0.177900              0.078454  2.127500e+04
50%                5.0         0.000000              0.197577  1.210935e+05
75%                5.0         0.318200              0.490351  9.726045e+05
max                5.0         0.999200              1.000000  1.516436e+06

## b) Remova os trava-zaps

Utilizamos a mesma função da lista 01 criada para validar os dados da coluna `trava_zap`. Após atualizar a coluna, criamos um novo dataframe com os dados sem trava-zaps.

In [5]:
def has_trava_zap(message):
  if not isinstance(message, str):
    return False  # Garante que só analisa strings

  # Regra 1: muito longo
  if len(message) > 10000:
    return True

  # Regra 2: caracteres invisíveis
  invisible = ''.join(chr(c) for c in range(0x200B, 0x200F + 1)) + '\uFEFF'
  if sum(message.count(c) for c in invisible) > 100:
    return True

  # Regra 3: emojis repetidos
  emoji_pattern = re.compile("[\U0001F600-\U0001F64F\U0001F300-\U0001F5FF"
                              "\U0001F680-\U0001F6FF\U0001F1E0-\U0001F1FF]+", flags=re.UNICODE)
  emojis = emoji_pattern.findall(message)
  if any(len(e) > 20 for e in emojis):
    return True

  # Regra 4: baixa diversidade
  unique = set(message)
  if len(unique) < 10 and len(message) > 500:
    return True

  return False

In [6]:
df['trava_zap'] = df['text_content_anonymous'].apply(has_trava_zap)

In [7]:
df_clean = df[df['trava_zap'] == False]

In [8]:
df_clean.drop(columns=['trava_zap'], inplace=True)

/tmp/ipykernel_86475/1420576694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(columns=['trava_zap'], inplace=True)

In [9]:
df_clean.describe()

       dataset_info_id  score_sentiment  score_misinformation    id_message
count         556305.0    442876.000000         166416.000000  5.563050e+05
mean               5.0         0.017676              0.311496  4.448514e+05
std                0.0         0.463547              0.293146  4.859544e+05
min                5.0        -1.000000              0.000003  2.000000e+00
25%                5.0        -0.177900              0.078334  2.125100e+04
50%                5.0         0.000000              0.196892  1.208690e+05
75%                5.0         0.318200              0.488192  9.724220e+05
max                5.0         0.999200              1.000000  1.516436e+06

## c) Remover as linhas repetidas

In [10]:
df_clean = df_clean.drop_duplicates()

In [11]:
df_clean.describe()

       dataset_info_id  score_sentiment  score_misinformation    id_message
count         556305.0    442876.000000         166416.000000  5.563050e+05
mean               5.0         0.017676              0.311496  4.448514e+05
std                0.0         0.463547              0.293146  4.859544e+05
min                5.0        -1.000000              0.000003  2.000000e+00
25%                5.0        -0.177900              0.078334  2.125100e+04
50%                5.0         0.000000              0.196892  1.208690e+05
75%                5.0         0.318200              0.488192  9.724220e+05
max                5.0         0.999200              1.000000  1.516436e+06

## d) Remover textos com menos de 5 palavras

In [12]:
df_clean = df_clean[df_clean['text_content_anonymous'].str.split().str.len() >= 5]

In [13]:
df_clean.describe()

       dataset_info_id  score_sentiment  score_misinformation    id_message
count         338045.0    337998.000000         166402.000000  3.380450e+05
mean               5.0         0.022497              0.311514  4.214875e+05
std                0.0         0.529214              0.293150  4.842346e+05
min                5.0        -1.000000              0.000003  2.000000e+00
25%                5.0        -0.381800              0.078340  1.988800e+04
50%                5.0         0.000000              0.196925  8.473500e+04
75%                5.0         0.505300              0.488286  9.726970e+05
max                5.0         0.999200              1.000000  1.516436e+06

---

## Pré-processamento com Colunas Auxiliares

Para facilitar a recuperação de dados em alguns casos, vamos criar colunas auxiliares.

In [14]:
stop_words = set(stopwords.words('portuguese', 'english'))

def clean_text(text):
  if not isinstance(text, str):
    return ''
  text_no_punct = text.translate(str.maketrans('', '', string.punctuation))
  tokens = word_tokenize(text_no_punct)
  filtered = [word for word in tokens if word.lower() not in stop_words]
  return ' '.join(filtered)

df_clean['text_no_stopwords'] = df_clean['text_content_anonymous'].apply(clean_text)

In [15]:
df_clean['word_count'] = df_clean['text_content_anonymous'].apply(lambda x: len(x.split()) if pd.notnull(x) else 0)

In [16]:
text_counts = df_clean['text_content_anonymous'].value_counts()
df_clean['viral'] = df_clean['text_content_anonymous'].apply(lambda x: True if pd.notnull(x) and text_counts[x] > 1 else False)

In [17]:
def classify_misinformation(score):
    if score >= 0.66:
        return 'Misinformation'
    elif score >= 0.33:
        return 'Neutral'
    else:
        return 'Non-misinformation'

# Criar coluna de categoria
df_clean['misinformation_category'] = df_clean['score_misinformation'].apply(classify_misinformation)

In [18]:
df_clean['sentiment'] = df_clean['score_sentiment'].apply(lambda x: "Positive" if x >= 0.05 else ("Negative" if x <= -0.05 else "Neutral"))

In [19]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 338045 entries, 0 to 557585
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date_message             338045 non-null  object
 1   id_member_anonymous      142383 non-null  object
 2   id_group_anonymous       338045 non-null  object
 3   media                    126125 non-null  object
 4   media_type               126125 non-null  object
 5   media_url                82697 non-null   object
 6   has_media                338045 non-null  bool
 7   has_media_url            338045 non-null  bool
 8   text_content_anonymous   338045 non-null  object
 9   dataset_info_id          338045 non-null  int64
 10  date_system              338045 non-null  object
 11  score_sentiment          337998 non-null  float64
 12  score_misinformation     166402 non-null  float64
 13  id_message               338045 non-null  int64
 14  message_type             338045 non-null  object
 15  messenger                338045 non-null  object
 16  media_name               6607 non-null    object
 17  media_md5                126125 non-null  object
 18  text_no_stopwords        338045 non-null  object
 19  word_count               338045 non-null  int64
 20  viral                    338045 non-null  bool
 21  misinformation_category  338045 non-null  object
 22  sentiment                338045 non-null  object
dtypes: bool(3), float64(2), int64(3), object(15)
memory usage: 55.1+ MB

In [20]:
df_clean.describe()

,dataset_info_id,score_sentiment,score_misinformation,id_message,word_count
count,338045.0,337998.000000,166402.000000,3.380450e+05,338045.000000
mean,5.0,0.022497,0.311514,4.214875e+05,41.811809
std,0.0,0.529214,0.293150,4.842346e+05,73.570380
min,5.0,-1.000000,0.000003,2.000000e+00,5.000000
25%,5.0,-0.381800,0.078340,1.988800e+04,14.000000
50%,5.0,0.000000,0.196925,8.473500e+04,20.000000
75%,5.0,0.505300,0.488286,9.726970e+05,39.000000
max,5.0,0.999200,1.000000,1.516436e+06,994.000000

## Export data

In [21]:
df_clean.to_csv('fakeTelegramBR_2022_clean.csv')